<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogify</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default navi">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="brandy"> <p class="navbar-brand brandy">Bloglify</p> </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a class="navitem" href="/">Home</a></li>
          <li id="about"><a class="navitem" href="/about">About Me</a></li>
          <li id="contact"><a class="navitem" href="/contact">Contact me</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <br>
    <div class="container">
