
<%- include('partials/header')-%>

<div class="jumbotron-fluid blur-head">


    <center>
        <h1>Suraj Sharma</h1>
        <div class="me">
          
        
        </div>
        <br>
        
        
        <p><%= Aboutcontent %> </p>
        
        
        </center>
    
</div>



<%- include('partials/footer')-%>