
<%- include('partials/header')-%>
<div class="jumbotron-fluid blur-head">

    <h1> Contact </h1>

    <p><%= Contactcontent %> </p>
    
    <a href="https://www.linkedin.com/in/suraj-sharma-962176141/">Linkedin</a>

</div>



<%- include('partials/footer')-%>