<%- include('partials/header')-%>


<div class="jumbotron">
    <center>
        <div class="container">
        
        <h1 class="post-title"><%= posttitle %> </h1>
        </center>

        <br>
        <br>

<p class="post-content"><%= postcontent %></p>

</div>






<%- include('partials/footer')-%> 